{% extends 'flatpages/default.html' %}

{% block title %}
Объявления
{% endblock title %}

{% block content %}

{% if is_not_subscriber %}
<button><a href="{% url 'subscribe' %}">Хочу Подписаться</a></button>
{% endif %}

<hr>
<div>
    <h1>Все публикации</h1>

    {% if announcements %}
        {% for post in announcements %}
            <hr>
            <hr>
            <h2>{{ post.title }}</h2>
            <p>Дата публикации: {{ post.create_date|date:'M d Y' }}</p>
            <p>{{ post.content|safe }}</p>
            <p>Автор: {{ post.author }}</p>
            <p>Категория: {{ post.category }}</p>
            <p>ID: {{ post.id }}</p>

            <!-- Проверяем, откликнулся ли пользователь на это объявление -->
            {% if request.user.is_authenticated %}
                {% if post.id not in user_responses %}
                    <!-- Кнопка для добавления отклика -->
                    <form method="post" action="{% url 'add_response' post.id %}">
                        {% csrf_token %}
                        <button type="submit">Откликнуться</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        <h2>Постов нет</h2>
    {% endif %}
</div>

{% endblock content %}