<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load nportal_filters %}
{# Импортируем модуль с нашим тегом #}
{% load nportal_tags %}

<!-- Название у нас будет products -->
{% block title %}
Posts
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}

{% if is_not_subscriber %}
<button> <a href="subscribeN/"> Хочу Подписаться!</a> </button>
{% endif %}

{# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

   <hr>
<div>
<h1>Все публикации</h1>
    В повестке публикаций:
{% if posts %}
	{% for post in posts %}
		<hr>
		<h2>{{ post.title|censor }}</h2>
		Дата публикации: {{ post.create_date|date:'M d Y' }}
		<br>
		{{post.text|truncatewords:20}}
        <br>
        Новость или статья: {{post.art_new}}
        <br>
        ID : {{post.id}}
	{% endfor %}
{% else %}
<h2>Новостей нет!</h2>
{% endif %}
</div>

   {# Добавляем пагинацию на страницу по HW 7#}

   {# Информация о предыдущих страницах #}
      {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}